@model PicerijaBarka5.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<section style="margin-top: 80px">
    <div>
        <h4>Change your account settings</h4>
        <hr />

            <strong>Password:</strong>
            <span>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </span>

    </div>
</section>
