#landImage {
    background: url("Images/pizza-wallpaper-full-hd-1080p-390199.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.full-row {
    width: 99.55vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding: 10px;
}

.card-text {
    font-size: 15px;
}

.text-large {
    font-size: 4.5rem;
}

.h-60 {
    height: 60%;
}

.text-orange {
    color: darkorange !important;
}

.bg-orange {
    background-color: darkorange;
}

hr.red {
    border-top: darkred 5px solid;
    width: 25%;
}

.bordered {
    border: 2px solid darkorange;
}

.nav-item.active a {
    color: darkorange !important;
    font-weight: bold;
}

nav.bg-dark {
    color: rgba(0, 0, 0, 0.4)
}

section {
    margin-bottom: 30px;
}

.circle-icon {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
    padding: 1.6em 1.7em;
    margin-bottom: 7px;
    font-size: 2em;
    color: black;
}

.bg-transparent-black {
    background-color: rgba(0, 0, 0, 0.3);
}

.mapouter {
    text-align: right;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}

a.custom-card-link,
a.custom-card-link:hover {
    text-decoration: none;
    color: inherit;
}

    a.custom-card-link:hover {
        color: #f3ad58
    }

input[type=checkbox].toggle + label, input[type=radio].toggle + label {
    background-color: lightgray;
    color: black;
}

input[type=checkbox].toggle:checked + label, input[type=radio].toggle:checked + label {
    background-color: #343a40;
    color: darkorange;
}

label.toggle-label {
    cursor: pointer;
}

.navbar-brand:hover {
    color: black !important;
    background-color: darkorange !important;
}

.hoverable {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3)
}

    .hoverable:hover {
        box-shadow: 0px 0px 0px 6px rgba(255, 140, 0, 0.5)
    }

tr.row {
    margin-left: 0px;
    margin-right: 0px;
}

#status {
    padding-top: 3px;
}

.form-control:focus {
    border-color: rgba(255, 140, 0, 0.75);
    box-shadow: 0 0 0 0.2rem rgba(255,140,0,.25);
}

td > span > i {
    color: gray;
    padding-right: 5px;
    vertical-align: central;
    font-size: 1.5rem;
}

td > a > i {
    color: gray;
    padding-right: 5px;
    vertical-align: central;
}

    i.details {
        font-size: 1.2rem
    }

    i.edit {
        font-size: 1rem
    }

    i.delete{
        font-size: 1.2rem;
    }

i.deleteMyPizza {
    font-size: 1.4rem;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
}
i.editMyPizza {
    font-size: 1.2rem;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
}
i.ShopBasket {
    font-size: 1.4rem;
}
    i.delete:hover {
        color: red;
    }

i.edit:hover {
    color: darkorange
}
i.orderDetails {
    font-size: 1.3rem;
    color: black;
}
i.details:hover, i.orderDetails:hover {
    color: cornflowerblue
}

.addToCart {
    background-color: darkorange;
}

.addIngredient {
    position: fixed;
    right: 5%;
    bottom: 5%;
    background-color: #343a40;
    padding: 1.4em 1.7em;
    margin-bottom: 40px;
    border-radius: 50%;
    vertical-align: central;
    text-align: center;
}

    .addIngredient > i {
        color: darkorange;
        font-size: 30px;
        width: 100%;
        height: 100%;
    }

.table > tr > td {
    vertical-align: central;
}

.sizeDrop {
    width: 120px;
    height: 50px;
}

.body-content {
    position: relative;
    min-height: 90vh;
    padding-bottom: 3rem;
}

#footer {
    height: 5rem;
}

.editImg {
    width: 400px;
    height: 250px;
}

.card-footer > *.btn {
    margin-right: 10px
}

.contact-div.card {
    border: 2px solid darkorange;
    background-color: #343a40;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    position: relative;
}

.contact-div.card:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.80);
    cursor: pointer;
}

    .contact-div.card:hover>.deleteContactButton {
        display: inline-block;
    }

.card-columns.contact {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.deleteContactButton{
    right: 4%;
    z-index: 5;
    display: none;
    margin-right: -6%;
    margin-top: -6%;
    position: absolute;
}

    .deleteContactButton > span {
        display: inline-block;
    }

.btnfas {
    width: 50px;
    height: 50px;
}
.btnfas > i {
    font-size: 1.4rem;
}
i.ratingStar {
    font-size: 1.6em;
    color: yellow;
}
#paraRate {
    font-size: 18px;
    font-style: italic;
}